@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

section {
    padding-top: 5vw;
    padding-bottom: 5vw;
}

section .section-heading {
    font-size: 32px;
    font-weight: bold;
    color: rgb(99, 99, 99);
    padding: 40px 10px;
    text-align: center;
}

section .section-item-heading {
    font-size: 24px;
    font-weight: 600;
    color: rgb(99, 99, 99);
}

section .section-descriptive-content {
    font-size: 16px;
    color: rgb(99, 99, 99);
}

section .descriptive-content {
    text-align: center;
    color: rgb(99, 99, 99);
}

nav.navbar {
    padding: 5px 8vw;
}

.navbar-nav {
    margin-left: auto;
}

.nav-item {
    padding: 8px;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.top-container {
}

.main-body {
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px;
}

.footer-icons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-icons-container a {
    margin: 5px 10px;
    font-size: 22px;
    color: rgb(109, 109, 109);
    transition: all 0.3s ease;
}

.footer-icons-container a:hover {
    color: rgb(58, 58, 58);
    transition: all 0.3s ease;
}

footer .copyright {
    font-size: 16px;
    color: rgb(109, 109, 109);
}
