@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

section {
    padding-top: 5vw;
    padding-bottom: 5vw;
}

section .section-heading {
    font-size: 32px;
    font-weight: bold;
    color: rgb(99, 99, 99);
    margin: 40px 10px;
    text-align: center;
}

nav.navbar {
    padding: 5px 8vw;
}

.navbar-nav {
    margin-left: auto;
}

.nav-item {
    padding: 8px;
}
