.wave-container {
    position: absolute;
    width: 100vw;
    z-index: -1;
}

.wave-container .wave-depth {
    background-color: #0099ff33;
    height: 20vh;
}

nav {
    background-color: transparent;
}