.wave-container {
    position: absolute;
    width: 100vw;
    z-index: -10;
}

.wave-container .wave-depth {
    background-color: var(--color-light);
    opacity: 0.5;
    height: 20vh;
}

.bslider {
    width: 100vw;
    object-fit: cover;
}

.community-item {
    align-items: center;
    margin: 30px 5px;
    box-shadow: 0 7px 30px -10px rgba(255, 255, 255, 0.5);
    transition: transform 0.3s ease-in-out;
}

.community-item:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease-in-out;
}
.community-item .community-item-body {
    align-self: stretch;
    padding: 30px 20px;
}

.community-item .community-item-img-container {
    padding: 0;
    overflow: hidden;
    object-fit: cover;
}

.community-item .community-item-img-container img {
    width: 100%;
}

.section-item-heading {
    text-align: center;
}

@media (min-width: 768px) {
    .community-item {
        margin: 25px 0;
    }
    .section-item-heading {
        text-align: left;
    }

    .community-item:nth-child(odd) .community-item-img-container,
    .community-item:nth-child(even) .community-item-body {
        order: 1;
    }

    .community-item:nth-child(odd) .community-item-body,
    .community-item:nth-child(even) .community-item-img-container {
        order: 2;
    }

    .community-item .community-item-body {
        padding: 3vw 2vw;
    }
    .bslider {
        height: 80vh;
    }
}

/*
*
* Quotes Section
*
*/

.carousel-indicators li {
    border: none;
    background: var(--color-medium);
}

#quotesCarousel .carousel-nav, .carousel .carousel-nav {
    color: var(--color-dark);
}

.carousel-indicators li.active {
    background: var(--color-medium);
}

.carousel-item i {
    color: var(--color-medium);
}

/*
*
* Chart Section
*
*/

.text-small {
    font-size: 0.9rem;
}

.rounded {
    border-radius: 1rem;
}

.position-center {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.chart-img {
    position: absolute;
    border-radius: 50%;
    object-fit: cover;
    z-index: -1;
}

#pieChart {
}