.flex-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.milestone-flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    height: 140px;
    max-width: 1000px;
    position: relative;
    z-index: 0;
}

.milestone {
    width: 25px;
    height: 25px;
    background-color: var(--color-dark);
    position: relative;
    border-radius: 50%;
}
.milestone:hover {
    cursor: pointer;
}
.milestone::before,
.milestone::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--color-dark);
    width: 4vw;
    height: 5px;
    max-width: 50px;
}
.milestone::before {
    left: calc(-4vw + 12.5px);
}
.milestone::after {
    right: calc(-4vw + 12.5px);
}
.milestone.active {
    background-color: var(--color-dark);
}
.milestone.active::before {
    background-color: var(--color-dark);
}
.milestone.active::after {
    background-color: var(--color-light);
}
.milestone.active span {
    font-weight: 700;
}
.milestone.active span::before {
    font-size: 13px;
}
.milestone.active span::after {
    font-size: 15px;
}
.milestone.active ~ .milestone,
.milestone.active ~ .milestone::before,
.milestone.active ~ .milestone::after {
    background-color: var(--color-light);
}
.milestone span {
    width: 1px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}
.milestone span::before,
.milestone span::after {
    visibility: visible;
    position: absolute;
    left: 50%;
}
.milestone span::after {
    content: attr(data-year);
    top: 25px;
    transform: translateX(-50%);
    font-size: 14px;
    color: var(--color-text);
}
.milestone span::before {
    content: attr(data-info);
    top: -100px;
    left: -5px;
    width: 200px;
    transform: translateX(-5px) rotateZ(-45deg);
    font-size: 12px;
    text-indent: -10px;
    color: var(--color-text);
}

.milestone-card-container {
    width: 80vw;
    font-weight: 400;
    font-size: 22px;
    margin-top: 100px;
    max-width: 1000px;
}
.milestone-card-container .milestone-card {
    display: none;
    flex-direction: column;
    padding: 3vw;
    border-radius: 10px;
    box-shadow: 0 7px 30px -10px rgba(255, 255, 255, 0.5);
}
.milestone-card-container .milestone-card.active {
    display: flex;
}

.milestone-card-container .milestone-card .milestone-card-header h1 {
    font-size: 24px;
    color: var(--color-text);
    text-align: center;
}

.milestone-card-container .milestone-card .milestone-card-body div {
    display: flex;
    flex-direction: row;
}

.milestone-card-container .milestone-card .milestone-card-body div img {
    height: 200px;
}

.milestone-card-container .milestone-card .milestone-card-body div p {
    align-self: center;
    padding: 10px 20px;
    font-size: 16px;
    color: var(--color-text);
}

@media (min-width: 1250px) {
    .milestone::before {
        left: -37.5px;
    }
    .milestone::after {
        right: -37.5px;
    }
}

@media (max-width: 850px) {
    .milestone {
        width: 17px;
        height: 17px;
    }
    .milestone::before,
    .milestone::after {
        height: 3px;
    }
    .milestone::before {
        left: calc(-4vw + 8.5px);
    }
    .milestone::after {
        right: calc(-4vw + 8.5px);
    }
}

@media (max-width: 600px) {
    .flex-parent {
        justify-content: initial;
    }
    .milestone-flex-container {
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        height: auto;
    }
    .milestone {
        width: 60px;
        height: 60px;
        margin: 0 10px 60px;
    }
    .milestone::before,
    .milestone::after {
        content: none;
    }
    .milestone span {
        width: 100%;
        height: 100%;
        display: block;
    }
    .milestone span::before {
        top: calc(100% + 5px);
        transform: translateX(-50%);
        text-indent: 0;
        text-align: center;
        left: 8vw;
        width: 70px;
    }
    .milestone span::after {
        top: 50%;
        transform: translate(-50%, -50%);
        color: var(--color-text);
    }
    .description-flex-container {
        margin-top: 30px;
        text-align: center;
    }
    .milestone-card-container .milestone-card .milestone-card-body div {
        text-align: center;
        display: block;
    }
    .milestone.active ~ .milestone span::before {
        color: var(--color-text);
    }
    .milestone.active ~ .milestone span::after {
        color: var(--color-dark);
    }
}

/** Gallery Section **/

.gallery-image-container {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}
.gallery-image-container img {
    width: 100%;
    padding: 7px 0 0 0;
}

.gallery-image-container .grid-container {
    overflow: hidden;
}

.gallery-image-container .grid-container .grid-description {
    background-color: rgb(68, 68, 68);
    padding: 10px;
    font-size: 12px;
    color: var(--color-text);
    /* border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; */
    text-align: center;
}
@media (max-width: 500px) {
    .gallery-image-container {
        -webkit-column-count: 1; /* Chrome, Safari, Opera */
        -moz-column-count: 1; /* Firefox */
        column-count: 1;
    }
}
